NEXT_GROQ_API_KEY=gsk_...
NEXT_PUBLIC_PORTAL_API_KEY=pk_...
PORTAL_SECRET=sk_...
GROQ_LLM_MODEL=llama-3.3-70b-versatile
PORTAL_WEBHOOK_SECRET=whsec_...
PORTAL_WEBHOOK_ORIGIN= # local: tu URL de ngrok, prod: la URL pública de Railway
