NEXT_NVIDIA_API_KEY=?
NEXT_PUBLIC_PORTAL_API_KEY=?
PORTAL_SECRET=?
NVIDIA_LLM_MODEL=meta/llama-3.1-8b-instruct
PORTAL_WEBHOOK_SECRET=
#NEXT_GROQ_API_KEY=
#GROQ_LLM_MODEL=
PORTAL_WEBHOOK_ORIGIN= # local: tu URL de ngrok, prod: la URL pública de Railway